<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>AgriVerde | Home</title>
  <link rel="stylesheet" href="../static/styles.css"/>
</head>
<body>
  <header>
    <h1>🌾 AgriVerde</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rotation">Crop Recommendation</a></li>
        <li><a href="/soil">Soil Health</a></li>
        <li><a href="/weather">Weather Alerts</a></li>
        <li><a href="/sustainability">Sustainability Check</a></li>
    </ul>
    </nav>
  </header>

  <main>
    <section class="hero">
      <h2>Empowering Farmers with AI-Driven Insights</h2>
      <p>Your smart farming assistant for crop planning, pest management, and sustainability.</p>
    </section>
  </main>

  <footer>
    <p>© 2025 StriveToThrive Team</p>
  </footer>
</body>
</html>
